.app__about {
    width: 100%;
    height: auto;
    
    margin-top: 90px;
    margin-bottom: 50px;
    

    .app__about-container {
        width: 100%;
        height: auto;
        
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;


        .app__about-title {
            grid-column: 1;

            margin-left: 30px;

            display: flex;
            align-items: center;

            h1 {
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-size: 4rem;

                letter-spacing: 0.2em;

                text-transform: uppercase;
            }

        }

        .app__about-text {
            width: 90%;
            margin-left: 30px;
            grid-column: 1 / span 2;
            
            display: flex;
            align-items: center;
            
            
            p {               
                font-size: 1.2rem;                
                line-height: 3em;
                text-transform: uppercase;
            }            
        }

        .app__about-ppicture {
            margin-right: 30px;
            grid-column: 3;

            width: 100%;
    
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 500px;
                height: 500px;

                border: double 4px transparent;
                border-radius: 2000px;
                background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
                background-origin: border-box;
                background-clip: padding-box, border-box;
            }
        }

        .app__about-prog {
            margin-top: 20px;

            grid-column: 3;
            grid-row: 3;
            
            display: grid;

            grid-template-columns: 100px 100px 100px 100px;

            justify-content: center;
            align-content: center;

            gap: 20px;

            h2 {  
                margin: 20px;

                grid-column-start: span 4;
                
                display: flex;
                justify-content: center;

                font-size: 1.5rem;

                text-transform: uppercase;
                letter-spacing: 0.2em;

            }

            .html5 {                
                grid-column: 1;
                grid-row: 2;
                
                display: flex;
                justify-content: center;

                font-size: 3rem;

                transition: 0.3s ease-in-out;

                cursor: pointer;
            }

            .html5:hover {
                color: #e34c26;
            }

            .css3 {
                grid-column: 2;
                grid-row: 2;

                display: flex;
                justify-content: center;

                font-size: 3rem;

                transition: 0.3s ease-in-out;

                cursor: pointer;
            }

            .css3:hover {
                color: #2965f1;
            }

            .javascript {
                grid-column: 3;
                grid-row: 2;

                display: flex;
                justify-content: center;

                font-size: 3rem;

                transition: 0.3s ease-in-out;

                cursor: pointer;
            }

            .javascript:hover {
                color: #f0db4f;
            }

            .react {
                grid-column: 4; 
                grid-row: 2;

                display: flex;
                justify-content: center;

                font-size: 3rem;

                transition: 0.3s ease-in-out;

                cursor: pointer;
            }

            .react:hover {
                color: #80DEEA;
            }
        }
    }
}