.app__about {
    width: 100%;
    height: auto;

    .app__about-container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 60px;

        .app__about-title {

            h1 {
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-size: 4rem;

                letter-spacing: 0.2em;

                text-transform: uppercase;
            }

        }

        .app__about-text {
            width: 70%;
            text-align: center;

            p {               
                font-size: 1.2rem;                
                line-height: 3em;
                text-transform: uppercase;
            }            
        }

        .app__about-ppicture {
            

            img {
                width: 500px;
                height: 500px;

                border: double 4px transparent;
                border-radius: 2000px;
                background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
                background-origin: border-box;
                background-clip: padding-box, border-box;
            }
        }

        .app__about-prog {

           

            h2 {  
                text-align: center;
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 0.2em;
            }

            .app__about-icons {
                margin-top: 20px;

                display: flex;
                justify-content: center;
                align-items: center;

                gap: 30px;

                
                span {                
                    font-size: 3rem;
    
                    transition: 0.3s ease-in-out;
    
                    cursor: pointer;
                }
    
                .html5:hover {
                    color: #e34c26;
                }

                .css3:hover {
                    color: #2965f1;
                }

                .sass:hover {
                    color: #CD6799;
                }

                .bootstrap:hover {
                    color: #563d7c;
                }

                .javascript:hover {
                    color: #f0db4f;
                }
    
                .react:hover {
                    color: #80DEEA;
                }

            }
        }
    }
}