.app__welcome {
    width: 100%;
    height: 300px;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 80px;


    .app__welcome-container {

        h1 {
            padding: 10px;
            font-size: 4rem;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;

            overflow: hidden;
            border-right: .15em solid black;
            white-space: nowrap;
            margin: 0 auto;
            letter-spacing: .15em;
            animation: 
                typing 3.5s steps(40, end),
                blink-caret .75s step-end infinite;
        }

        span {

            font-weight: 500;
            padding: 10px;
            color: #fff;

            background: 
                linear-gradient(
                    to right,
                    transparent,
                    transparent
                ),
                linear-gradient(
                    to right, 
                    rgba(255, 0, 0, 1),
                    rgba(255, 0, 180, 1),
                    rgba(0, 100, 200, 1)
                );
              
        }

        @keyframes typing {
            from {width: 0;}
            to {width: 100%;}
        }

        @keyframes blink-caret {
            from, to { 
                border-color: #000
            }

            50% { 
                border-color: transparent}
        }

    }
}